Repository ristocloud-group/app-lib-risto-widgets, pull requests merged in 2024-11, with the labels that each got.

#36 Refactoring and update
  .gitignore
  example/lib/main.dart
  example/lib/pages/action_button_page.dart
  example/lib/pages/custom_sheet_page.dart
  example/lib/pages/expandable_page.dart
  example/lib/pages/increment_decrement_page.dart
  example/lib/pages/list_tile_button_page.dart
  example/pubspec.lock
  lib/risto_widgets.dart
  lib/widgets/buttons/action_wrapper.dart
  lib/widgets/buttons/custom_action_button.dart
  lib/widgets/buttons/expandable_list_tile_button.dart
  lib/widgets/buttons/list_tile_button.dart
  lib/widgets/input/increment_decrement_widget.dart
  lib/widgets/sheets/open_custom_sheet.dart
  pubspec.lock
  test/action_wrapper_test.dart
  test/custom_action_button_test.dart
  test/expandable_list_tile_button_test.dart
  test/increment_decrement_widget_test.dart
  test/list_tile_button_test.dart
  test/open_custom_sheet_test.dart
Labels: enhancement, test, example, lib

#49 Refactor ListTile Classes - Add Margin and Dynamic Scaling
  example/lib/pages/list_tile_button_page.dart
  lib/risto_widgets.dart
  lib/widgets/buttons/custom_action_button.dart
  lib/widgets/buttons/custom_icon_text.dart
  lib/widgets/buttons/expandable_list_tile_button.dart
  lib/widgets/buttons/list_tile_button.dart
  test/list_tile_button_test.dart
Labels: bug, enhancement, test, lib

#51 Fix/Prepare version udpate
  CHANGELOG.md
  example/lib/main.dart
  example/lib/pages/custom_sheet_page.dart
  example/pubspec.lock
  lib/widgets/buttons/custom_action_button.dart
  lib/widgets/buttons/custom_icon_text.dart
  lib/widgets/buttons/expandable_list_tile_button.dart
  lib/widgets/buttons/list_tile_button.dart
  lib/widgets/buttons/single_press_button.dart
  lib/widgets/input/increment_decrement_widget.dart
  lib/widgets/layouts/padded_widgets.dart
  lib/widgets/navigation/custom_bottom_navbar.dart
  lib/widgets/sheets/open_custom_sheet.dart
  pubspec.yaml
  test/custom_bottom_nav_bar_test.dart
  test/open_custom_sheet_test.dart
Labels: bug, documentation, enhancement, test, example

#53 Package Migration
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  LICENSE
  README.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/ristocloudgroup/lib/risto_widgets/RistoWidgetsPlugin.java
  android/src/test/java/com/ristocloudgroup/lib/risto_widgets/RistoWidgetsPluginTest.java
  example/android/app/build.gradle
  example/android/app/src/main/java/francescodema/dev/risto_widgets_example/MainActivity.java
  example/ios/Podfile.lock
  example/ios/Runner.xcodeproj/project.pbxproj
  example/linux/CMakeLists.txt
  example/macos/Flutter/GeneratedPluginRegistrant.swift
  example/macos/Runner.xcodeproj/project.pbxproj
  example/macos/Runner/Configs/AppInfo.xcconfig
  example/pubspec.lock
  example/windows/runner/Runner.rc
  pubspec.lock
  pubspec.yaml
Labels: bug, documentation, enhancement, example, android

#54 Migrate/move package to ristocloud
  android/build.gradle
  example/ios/Podfile.lock
  example/pubspec.lock
  pubspec.lock
Labels: bug, example, android

#56 Refactoring widgets customization fields
  example/ios/Podfile.lock
  example/lib/pages/action_button_page.dart
  example/lib/pages/list_tile_button_page.dart
  lib/widgets/buttons/list_tile_button.dart
  lib/widgets/buttons/single_press_button.dart
  test/single_press_button_test.dart
Labels: enhancement, test

#57 Refactoring coverage
  .github/workflows/flutter_coverage.yml
  .gitignore
  test/open_custom_sheet_test.dart
Labels: bug, enhancement, workflows, test
